[submodule "themes/hexo-theme-Anisina"]
	path = themes/hexo-theme-Anisina
	url = git@github.com:AndrewZhuCC/hexo-theme-Anisina.git
[submodule "themes/TKL"]
    path = themes/TKL
    url = git@github.com:SuperKieran/TKL.git
